.advice {
    min-height: 417px;
    padding: 22px 0 0px 50px;
}

.advice__list {
    list-style: none;
    padding-left: 0;
}

.advice__item h3 {
    margin-bottom: 14px;
}

.advice__item {
    margin-bottom: 28px;
    position: relative;
}

.advice__item::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: -48px;
    width: 39px;
    height: 37px;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.advice__item::before svg {
    fill: $color-block;
}

.advice__item--house::before {
    background-image: url("../../img/icon-house.svg");
    }

.advice__item--gift::before {
    background-image: url("../../img/icon-gift.svg");
    background-position: 4px;
}

.advice__item--burger::before {
    background-image: url("../../img/icon-burger.svg");
    top: -5px;
    left: -50px;
}

@media (min-width: $tablet-width) {
    .advice {
        min-height: 330px;
        padding: 0;
        margin: 0;
    }

    .advice__list {
        display: flex;
        justify-content: start;
        margin: 0;
    }

    .advice__item {
        min-height: 330px;
        width: 256px;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        padding: 48px 45px;
    }

    .advice__text {
        text-align: center;
    }

    .advice__item--house::before,
    .advice__item--gift::before,
    .advice__item--burger::before {
        top: 58px;
        left: 90px;
        width: 80px;
        height: 72px;
    }

    .advice__item h3 {
        margin-bottom: 8px;
    }
}

@media (min-width: $desktop-width) {
    .advice__item {
        min-height: 330px;
        width: 400px;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        padding: 68px 60px;
    }

    .advice__item--house::before,
    .advice__item--gift::before,
    .advice__item--burger::before {
        top: 58px;
        left: 162px;
        width: 80px;
        height: 72px;
    }

}