.banner {
    display: flex;
    background-image: url("../../img/bg-back-mobile@1x.jpg");
    width: 320px;
    margin: 0 -20px;
    background-repeat: no-repeat;
    background-size: 320px 387px;
    position: relative;

    &--index {
        height: 387px;
    }

    &::before {
        position: absolute;
        content: " ";
        bottom: 0;
        left: 0;
        height: 0;
        width: 0;
        border-bottom: 28px solid $color-white;
        border-right: 160px solid transparent;
    }

    &::after {
        position: absolute;
        content: " ";
        bottom: 0;
        right: 0;
        height: 0;
        width: 0;
        border-bottom: 28px solid $color-white;
        border-left: 160px solid transparent;
    }

    &__text {
        margin: 86px auto;
        width: 282px;
        height: 214px;
    }

    &--photo {
        width: 320px;
        height: 160px;
        background-position: 0px -220px;
    }

    &__text--photo {
        width: 230px;
        height: 40px;
        margin: 50px auto;
    }
}

@media (min-width: $tablet-width) {
    .banner {
        display: flex;
        background-image: url("../../img/bg-back-tablet@1x.jpg");
        width: 768px;
        height: 520px;
        margin: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;


        &::before {
            background-image: url("../../img/intro-triangle.svg.png");
            width: 768px;
            height: 57px;
            border: none;
        }

        &::after {
            display: none;
        }

        &__text {
            margin: 76px auto;
            width: 460px;
            height: 350px;
        }

        &--photo {
            height: 292px;
            background-position: 0px -220px;
        }

        &__text--photo {
            width: 460px;
            height: 80px;
            margin: 94px auto 0;
        }
    }
}

@media (min-width: $desktop-width) {
    .banner {
        background-image: url("../../img/bg-back-desktop@1x.jpg");
        width: 1200px;
        height: 520px;
        margin: 0;


        &::before {
            background-image: url("../../img/intro-triangle-2.svg.png");
            width: 1200px;
            height: 57px;
            background-repeat: no-repeat;
        }

        &__text {
            margin: 82px auto;
            width: 460px;
            height: 350px;
        }

        &--photo {
            height: 298px;
            background-position: 0px -220px;
        }

        &__text--photo {
            width: 460px;
            height: 80px;
            margin: 100px auto 0;
        }
    }
}
