.button {
    display: block;
    background-color: $color-block;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: $color-white;
    width: 100%;
    padding: 16px 0;
    border: none;
    text-transform: uppercase;


    &:hover {
        background-color: $color-hover;
    }

    &:active {
        background-color: $color-active;
        color: $color-active-font;
    }

    &:disabled {
        background-color: $color-disabled;
        color: $color-white;
    }
}

@media (min-width: $tablet-width) {
    .button {
        padding: 16px 0;
    }
}

@media (min-width: $desktop-width) {
    .button {
        padding: 16px 0;
        width: 460px;
        margin: 0 auto;
    }
}