.container {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: $tablet-width) {
    .container {
        width: 768px;
        padding: 0;
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: $desktop-width) {
    .container {
        width: 1280px;
        padding: 0 40px;
        margin: 0 auto;
        position: relative;
    }
}