.form {

    &__item {
        border: none;
        min-height: 250px;
        padding: 0;
        margin: 0 -20px;
        border-bottom: 1px solid $color-disabled;
        color: $color-text-form;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        padding: 8px 20px 25px;
    }

    &__legend {
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 20px;
        text-align: center;
        color: $color-black;
        display: inline-block;
        margin: 0;
    }

    &__input {
        border: none;
        background-color: $color-fon-gallery-light;
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        min-width: 193px;
        padding: 16px 20px;


        &:hover {
            background-color: $color-disabled;
        }

        &:active,
        &:focus {
            background-color: $color-fon-gallery-light;
            border: 4px solid $color-disabled;
        }

        &::placeholder {
            color: $color-down-marker;
        }
    }

    &__name-item {
        width: 280px;
        display: flex;
        align-items: center;
        margin-top: 20px;


        &:nth-child(1) {
            margin-top: 10px;
        }
    }

    &__name-label {
        margin-right: 12px;
    }

    &__input--contacts {
        width: 280px;
        position: relative;
    }

    &__contacts-item {
        width: 280px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__contacts-label {
        padding: 15px 22px 10px;
    }

    &__icon {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 58px;
        height: 58px;
        background-color: $color-fon-input;
        padding: 20px;
    }

    &__radio-label {
        padding: 16px 0;
        padding-left: 78px;
        font-size: 18px;
        line-height: 26px;
        text-transform: none;
        font-weight: bold;
    }

    &__impression-item {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__attractions-item {
        margin-top: 23px;
        display: flex;
        flex-direction: column;
        position: relative;

        &:nth-child(1) {
            margin-top: 4px;
        }
    }

    &__checkbox-label {
        padding: 16px 0;
        padding-left: 78px;
        font-size: 18px;
        line-height: 26px;
        text-transform: none;
        font-weight: bold;
    }

    &__emotions-input {
        width: 280px;
        height: 160px;
        resize: none;
        background-color: $color-fon-gallery-light;
        border: none;
        padding: 20px;
        text-transform: none;
        font-weight: bold;
        margin-top: 18px;


        &::placeholder {
            color: $color-down-marker;
        }

        &:hover {
            background-color: $color-disabled;
        }

        &:active,
        &:focus {
            background-color: $color-fon-gallery-light;
            border: 4px solid $color-disabled;
        }
    }

    &__emotions {
        padding-bottom: 40px;
        border-bottom: none;
    }
}

@media (min-width: $tablet-width) {
    .form {
        &--container {
            margin: 0 60px;
        }

        &__info-user {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__item {
            border: none;
            min-height: 300px;
            padding: 0;
            margin: 0;
        }

        &__impression {
            order: 0;
            width: 324px;
            border-right: 1px solid $color-line;
        }

        &__name {
            order: 1;
            width: 324px;
        }

        &__contacts {
            order: 2;
        }

        &__legend {
            font-size: 21px;
            line-height: 26px;
            margin-bottom: 48px;
            text-align: left;
        }

        &__legend--full-title {
            text-align: center;
            margin-bottom: 10px;
            position: relative;
            background-color: $color-white;
            width: 400px;
        }

        &__legend--full-title::before {
            position: absolute;
            content: " ";
            width: 125px;
            height: 1px;
            background-color: $color-line;
            top: 70%;
            left: -125px;
        }

        &__legend--full-title::after {
            position: absolute;
            content: " ";
            width: 125px;
            height: 1px;
            background-color: $color-line;
            top: 70%;
            right: -125px;
        }

        &__list {
            padding: 0;
        }

        &__input {
            min-width: 178px;
        }

        &__radio-label {
            padding: 16px 0;
            padding-left: 76px;
        }

        &__impression-item {
            margin-top: 15px;
        }

        &__name {
            padding-left: 54px;
        }

        &__name-item {
            width: 270px;
            margin-top: 20px;
        }

        &__contacts {
            margin: 56px 0;
            order: 2;
            width: 100%;
            position: relative;
        }

        &__attractions .form__list {
            display: flex;
            flex-wrap: wrap;
        }

        .form__attractions-item {

            &:nth-child(1) {
                margin-top: 4px;
            }

            & {
                margin-top: 23px;
                width: 324px;
                height: 89px;
            }

            &:nth-child(1) {
                margin-top: 23px;
            }
        }

        &__emotions-input {
            width: 648px;
            height: 160px;
            padding: 20px;
            margin-top: 18px;
            margin-left: -124px;
        }

        &__emotions {
            padding-bottom: 40px;
            border-bottom: none;
            text-align: center;
        }

        &__emotions .form__legend--full-title {
            text-align: center;
            height: 46px;
        }
    }
}


@media (min-width: $desktop-width) {
    .form {
        &--container {
            margin: 0 120px;
        }

        &__impression,
        &__name {
            width: 480px;
        }

        &__legend {
            margin-bottom: 48px;
        }

        &__item {
            min-height: auto;
        }

        &__legend--full-title {
            text-align: center;
            margin-bottom: 10px;
            position: relative;
            background-color: $color-white;
            width: 400px;
        }

        &__impression .form__legend {
            margin-left: 80px;
        }

        &__name {
            padding-left: 80px;


            &-item {
                width: 400px;
                margin-top: 20px;
            }

            & .form__input {
                width: 100%;
            }
        }

        &__contacts {
            margin: 56px 0 0;
            width: 100%;
            position: relative;
        }

        &__contacts .form__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 50px 0;
        }


        &__attractions .form__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 0;
            padding: 40px 0;
        }

        &__attractions-item {
            margin-top: 23px;
            width: 240px;
            height: 89px;
        }

        &__emotions-input {
            width: 960px;
            margin-right: 10px;
            margin-top: 18px;
            margin-left: -280px;
        }

        &__emotions {
            padding: 0;
            padding-bottom: 40px;
            border-bottom: none;
            text-align: none;
        }

        &__emotions .form__legend--full-title {
            width: 400px;
            height: 46px;
            margin-right: 0;
        }

        .form__legend--full-title {

            &::before {
                position: absolute;
                content: " ";
                width: 280px;
                height: 1px;
                background-color: $color-line;
                top: 70%;
                left: -280px;
            }

            &::after {
                position: absolute;
                content: " ";
                width: 280px;
                height: 1px;
                background-color: $color-line;
                top: 70%;
                right: -280px;
            }
        }

        &__button {
            margin-left: 0;
            margin-bottom: 40px;
        }
    }
}  