.gallery__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery__item {
    min-height: 416px;
    margin: 0 -20px;
    border-bottom: 1px solid $color-disabled;
    padding: 23px 20px 10px;
}

.gallery__item:nth-child(1) {
    border-top: 1px solid $color-disabled;
}

.gallery__title {
    margin: 12px 0 2px;
    font-weight: bold;
}

.gallery__author {
    margin: 0;
    text-transform: none;
}

.gallery__like {
    background-color: transparent;
    border: none;
    height: 30px;
    min-width: 70px;
    margin-top: 8px;
    background-image: url("../../img/icon-like.svg");
    background-repeat: no-repeat;
    padding-bottom: 8px;
}

.gallery__like-active {
   background-image: url("../../img/like-icon.png");
}

.gallery__like-counter {
    margin: auto 0;
    font-weight: bold;
    margin-left: 30px;
}

@media (min-width: $tablet-width) {
    .gallery__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin: 0 60px;
    }

    .gallery__item {
        min-height: 348px;
        min-width: 324px;
        border: none;
        padding: 0;
        margin: 0;
        background-color: $color-fon-gallery-light;
    }

    .gallery__item-full {
        min-height: 472px;
        min-width: 648px;
    }

    .gallery__item:nth-child(2n) {
        background-color:  $color-fon-gallery-dark;
    }

    .gallery__item:nth-child(1) {
        border-top: none;
    }

    .gallery__image {
        display: block;
        object-fit: cover;
        width: 324px;
        height: 267px;
    }

    .gallery__image-full {
        display: block;
        width: 648px;
        height: 400px;
    }

    .gallery__description {
        padding: 18px 20px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .gallery__title {
        margin: 0;
        font-weight: bold;
    }

    .gallery__like-counter {
        margin-left: 30px;
    }

    .gallery__like {
        min-width: 40px;
    }
}

@media (min-width: $desktop-width) {
    .gallery__list {
        margin: 0;
    }

    .gallery__item {
        min-height: 267px;
        min-width: 400px;
        color:  $color-white;
        position: relative;
    }

    .gallery__item-full {
        min-height: 400px;
        min-width: 100%;
        color:  $color-white;
        position: relative;
    }
  
    .gallery__image {
        display: block;
        
        width: 400px;
        height: 267px;
    }

    .gallery__image-full {
        display: block;
        width: 1200px;
        height: 400px;
    }

    .gallery__description {
        padding: 18px 20px; 
      
        position: absolute;
        bottom: 0;
        width: 400px;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }

    .gallery__item-full .gallery__description{
        // min-height: 480px;
        min-width: 100%;
    }

    .gallery__like {
        color: $color-white;
    }

    .gallery__like-active {
        background-image: url("../../img/like-icon-desktop.png");
     }
}