.input {
    &--radio,
    &--checkbox {
        display: none;
    }

    &--radio + label::before {
        background-color: $color-fon-gallery-light;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        position: absolute;
        content: " ";
        top: 1px;
        left: 1px;
    }

    &--radio:hover + label::before {
        background-color: $color-disabled;
    }

    &--radio:active + label::before {
        background-color: $color-down;
    }

    &--radio:checked + label::after {
        background-color: $color-text-form;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        position: absolute;
        content: " ";
        top: 18px;
        left: 18px;
    }

    &--radio:checked:active + label::after {
        background-color: $color-down-marker;
    }

    &--checkbox + label::before {
        background-color: $color-fon-gallery-light;
        width: 56px;
        height: 56px;
        border-radius: 5%;
        position: absolute;
        content: " ";
        top: 1px;
        left: 1px;
    }

    &--checkbox:checked + label::after {
        background-image: url("../../img/icon-tick.svg");
        background-repeat: no-repeat;
        width: 24px;
        height: 16px;
        position: absolute;
        content: " ";
        top: 20px;
        left: 18px;
    }

    &--checkbox:hover + label::before {
        background-color: $color-disabled;
    }

    &--checkbox:active + label::before {
        background-color: $color-down;
    }
}

