.input--radio,
.input--checkbox {
    display: none;
}

.input--radio + label::before {
    background-color: $color-fon-gallery-light;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    content: " ";
    top: 1px;
    left: 1px;
}

.input--radio:hover + label::before {
    background-color: $color-disabled;
}

.input--radio:active + label::before {
    background-color:  $color-down;
}

.input--radio:checked + label::after {
    background-color: $color-text-form;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    content: " ";
    top: 18px;
    left: 18px;
}

.input--radio:checked:active + label::after {
    background-color:  $color-down-marker;
}

.input--checkbox + label::before {
    background-color: $color-fon-gallery-light;
    width: 56px;
    height: 56px;
    border-radius: 5%;
    position: absolute;
    content: " ";
    top: 1px;
    left: 1px;
}

.input--checkbox:checked + label::after {
    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
    position: absolute;
    content: " ";
    top: 20px;
    left: 18px;
}

.input--checkbox:hover + label::before {
    background-color: $color-disabled;
}

.input--checkbox:active + label::before {
    background-color:  $color-down;
}

