.main-nav {
    &__list {
        list-style: none;
        padding: 0;
        font-size: 18px;
        line-height: 40px;
        font-weight: bold;
        margin: 0 -20px;
        position: relative;
    }

    &__link {
        min-height: 56px;
        width: 320px;
        background-color: $color-block;
        text-align: center;
        border-bottom: 1px solid #678fa8;
        border-top: 1px solid #9ac2db;
        padding: 7px 0;
        display: block;
        color: $color-white;


        &:hover {
            background-color: $color-hover;
        }

        &:active {
            background-color: $color-active;
            color: $color-active-font;
        }
    }

    &__list li:nth-child(1) {
        border-top: none;
    }

    &__list li:nth-last-child(1) .main-nav__link {
        border-bottom: none;
        box-shadow: inset 0px -8px 10px -9px rgba(0, 0, 0, 0.5)
    }

    &__close {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 17px;
        right: 14px;
        width: 25px;
        height: 25px;
    }

    &__svg {
        width: 25px;
        height: 25px;
        fill: $color-white;
    }
}

@media (min-width: $tablet-width) {
    .main-nav {
        &__list {
            font-size: 14px;
            line-height: 26px;
            font-weight: bold;
            margin: 0;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            min-height: 56px;
        }

        &__item:nth-child(4n+2) {
            margin-right: 150px;
        }

        &__link {
            height: 56px;
            width: 150px;
            background-color: transparent;
            text-align: center;
            border: none;
            color: $color-black;
            padding: 0;
            display: table-cell;
            vertical-align: middle;
        }

        &__list li:nth-last-child(1) .main-nav__link {
            box-shadow: none;
        }

        &__close {
            display: none;
        }

        &__link:hover {
            background-color: transparent;
            color: $color-block;
        }

        &__link:active {
            background-color: transparent;
            color: $color-menu-down;
        }
    }
}

@media (min-width: $desktop-width) {
    .main-nav {
        &__link {
            height: 56px;
            width: 235px;
        }

        &__item:nth-child(4n+2) {
            margin-right: 235px;
        }
    }
}