.main-nav__list {
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    margin: 0 -20px;
    position: relative;
}

.main-nav__link {
    min-height: 56px;
    width: 320px;
    background-color: $color-block;
    text-align: center;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    padding: 7px 0;
    display: block;
    color: $color-white;
}

.main-nav__link:hover {
    background-color: $color-hover;
}

.main-nav__link:active {
    background-color: $color-active;
    color: $color-active-font;
}

.main-nav__list li:nth-child(1) {
    border-top: none;
}

.main-nav__list li:nth-last-child(1) .main-nav__link {
    border-bottom: none;
    box-shadow: inset 0px -8px 10px -9px  rgba(0,0,0,0.5)
}

.main-nav__close {
    border: none;
    background-color: transparent;
    fill: $color-white;
    position: absolute;
    top: 17px;
    right: 14px;
}

@media (min-width: $tablet-width) {
    .main-nav__list {
        font-size: 14px;
        line-height: 26px;
        font-weight: bold;
        margin: 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-nav__item {
        min-height: 56px;
    }
    
    .main-nav__item:nth-child(4n+2) {
        margin-right: 150px;
    }

    .main-nav__link {
        height: 56px;
        width: 150px;
        background-color: transparent;
        text-align: center;
        border: none;
        color: $color-black;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
    } 

    .main-nav__list li:nth-last-child(1) .main-nav__link {
        box-shadow: none;
    }

    .main-nav__close {
        display: none;
    }

    .main-nav__link:hover {
        background-color: transparent;
        color: $color-block;
    }
    
    .main-nav__link:active {
        background-color: transparent;
        color: $color-menu-down;
    }
    
}

@media (min-width: $desktop-width) {
    .main-nav__link {
        height: 56px;
        width: 235px;
    } 

    .main-nav__item:nth-child(4n+2) {
        margin-right: 235px;
    }
}