.sedona-picture {
    display: block;
    max-width: 320px;
    height: 260px;
    margin: 0 -20px;
}


@media (min-width: $tablet-width) {
    .sedona-picture {
        display: block;
        max-width: 512px;
        height: 256px;
        margin: 0;
    }
}

@media (min-width: $desktop-width) {
    .sedona-picture {
        overflow: hidden;
        width: 800px;
        max-width: none;
        height: 256px;
        margin: 0;
    }
}