.social {
    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;
    }

    &__item {
        margin-right: 6px;
        margin-bottom: 6px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        width: 47px;
        height: 47px;
        background-color: $color-block;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:hover {
            background-color: $color-hover;
        }

        &:active {
            background-color: $color-active;
        }

        &:active .social__icon {
            fill: $color-active-font;
        }
    }

    &__icon {
        fill: $color-white;

        &--tw {
            width: 18px;
            height: 14px;
        }

        &--fb {
            width: 9px;
            height: 18px;
        }

        &--yout {
            width: 20px;
            height: 14px;
        }
    }
}

@media (min-width: $tablet-width) {
    .social {
        &__list {
            max-width: 160px;
            margin: 0 auto;
            margin-left: 52px;
        }

        &__item {
            margin-right: 6px;
            margin-bottom: 6px;
        }
    }
}

@media (min-width: $desktop-width) {
    .social__list {
        max-width: 160px;
        margin: 0 auto;
        margin-left: 124px;
    }
}
