.social__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
}

.social__item {
    margin-right: 6px;
    margin-bottom: 6px;
}

.social__link {
    width: 47px;
    height: 47px;
    background-color: $color-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social__icon--tw {
    width: 18px;
    height: 14px;
}

.social__icon--fb {
    width: 9px;
    height: 18px;
}

.social__icon--yout {
    width: 20px;
    height: 14px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link:hover {
    background-color: $color-hover;
}

.social__link:active {
    background-color:$color-active;
}

.social__link:hover svg {
    color: red;
}

@media (min-width: $tablet-width) {
    .social__list {
        max-width: 160px;
        margin: 0 auto;
        margin-left: 52px;
    }

    .social__item {
        margin-right: 6px;
        margin-bottom: 6px;
    }
}

@media (min-width: $desktop-width) {
    .social__list {
        max-width: 160px;
        margin: 0 auto;
        margin-left: 124px;
    }
}
