html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 320px;
    overflow-x: hidden;
    color: #333333;
  }

  @media (min-width: 1200px) {
    body {
      background-color: #f2f2f2;
    }

   .general {
      background-color: #ffffff;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      max-width: 1200px;
      margin: 0 auto;
   }
  }
  
  img {
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
  }

  $tablet-width: 768px;
  $desktop-width: 1200px;
  $mobile-width-only: 767px;
  $retina-dppx: 1.5dppx;

  $color-white: #ffffff;
  $color-black: #000000;
  $color-block: #81b3d2;
  $color-title: #000000;
  $color-hover: #669ec0;
  $color-active: #5496bd;
  $color-active-font:#88b6d1;
  $color-disabled: #e5e5e5;
  $color-menu-down: #b2b2b2;
  $color-fon-gallery-light: #f2f2f2;
  $color-fon-gallery-dark: #eaeaea;
  $color-text-form: #333333;
  $color-fon-input: #e6e6e6;
  $color-line: #dbdbdb;
  
  @import "../../node_modules/node-normalize-scss/normalize";
  @import "block/text-title.scss";
  @import "block/container.scss";
  @import "block/header.scss";
  @import "block/main-nav.scss";
  @import "block/banner.scss";
  @import "block/main.scss";
  @import "block/description.scss";
  @import "block/important-reasons.scss";
  @import "block/sedona-picture.scss";
  @import "block/advice.scss";
  @import "block/other-reasons.scss";
  @import "block/search.scss";
  @import "block/button.scss";
  @import "block/footer.scss";
  @import "block/contacts.scss";
  @import "block/social.scss";
  @import "block/gallery.scss";
  @import "block/form.scss";
  @import "block/visually-hidden.scss";